html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
}

.main-container {
  width: 40%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
}

.message {
  border: solid 1px #CCCCCC;
  border-radius: 4px;
  margin: 10px 0;
  padding: 10px 15px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.main-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.text-box {
  width: 100%;
}

p{
  margin: 3px 0;
  font-size: 17px;
}

.timestamp {
  float: right;
  color: #a6a6a6;
  padding-top: 10px;
  font-size: 14px;
}


.clear {
  clear: both;
}

.delete {
  background: #e60000;
  text-align: center;
  color: #FFF;
  cursor: pointer;
  font-weight: 700;
}