<!DOCTYPE html>
<html ng-app="triviaApp">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/main.css">
  <title>Trivia Trends</title>
  <link rel="shortcut icon" href="styles/assets/crownFavicon.png">
</head>

<body ng-controller="mainController">
  <header>
    <div></div>
    <h1>Trivia Trends</h1>
    <button><span>+</span> Add Question</button>
  </header>
  <article>
    <nav ng-click="animalSearch = ''">
      <a ng-click="getQuestions(''); searchShow=false;">All Questions</a>
      <a ng-click="getQuestions('1'); searchShow=false;">Easy</a>
      <a ng-click="getQuestions('2'); searchShow=false;">Medium</a>
      <a ng-click="getQuestions('3'); searchShow=false">Hard</a>
      <a ng-click="searchShow ? searchShow=false : searchShow=true">Search by Animal</a>
    </nav>
    <div ng-show="searchShow" class="search">
      <input type="text" ng-model="animalSearch" ng-change="getQuestions('', animalSearch, page)" placeholder="Animal to search by">
    </div>

    <!-- Questions go here -->
      <div class="question-wrapper" ng-repeat="question in questions | filter:difficulty:difficulty | filter:search:animal" ng-class="{green: $index===parentIndex && isCorrect, red: $index===parentIndex && !isCorrect}">

      <h3>{{ question.question }}</h3>
      <div ng-class="{green: question.difficulty===1, yellow: question.difficulty===2, red: question.difficulty===3}">{{ question.difficultyLabel }}</div>
      <div class="gear" >
        <img src="styles/assets/gear.svg" alt="">
      </div>
      <ul>
        <li ng-repeat="option in question.options">
            <p class="option" ng-click="checkAnswer($index+1, question.correct_answer, $parent.$index)" ng-class="{choosen: choosen===$index+1 && $parent.$index===parentIndex}">{{ option }}</p>
        </li>
      </ul>

      </div>
      <div>
      <h3 class="change-page left">&lt; Prev Page</h3>
      <h3 class="change-page right">Next Page &gt;</h3>

      </div>
  </article>

  





  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>
  <script src="scripts/app.js" charset="utf-8"></script>
  <script type="text/javascript" src="scripts/services.js"></script>
</body>

</html>