<!DOCTYPE html>
<html ng-app="triviaApp">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/main.css">
  <title>Trivia Trends</title>
  <link rel="shortcut icon" href="styles/assets/crownFavicon.png">
</head>

<body ng-controller="mainController">
  <header>
    <div></div>
    <h1>Trivia Trends</h1>
    <button ng-click="modalShow=true; newShow=true; editShow=false;"><span>+</span> Add Question</button>
  </header>
  <article>
    <nav ng-click="animalSearch=''">
      <a ng-click="checkDifficulty()" ng-class="{difficulty: !difficulty}">All Questions</a>
      <a ng-click="checkDifficulty(1)" ng-class="{difficulty: difficulty===1}">Easy</a>
      <a ng-click="checkDifficulty(2)" ng-class="{difficulty: difficulty===2}">Medium</a>
      <a ng-click="checkDifficulty(3)" ng-class="{difficulty: difficulty===3}">Hard</a>
      <a ng-click="searchShow ? searchShow=false : searchShow=true">Search by Animal</a>
    </nav>
    <div ng-show="searchShow" class="search">
      <input type="text" ng-model="animalSearch" ng-change="difficulty=''; getQuestions(difficulty, animalSearch, page)" placeholder="Animal to search by">
    </div>

    <!-- Questions go here -->
      <div class="question-wrapper" ng-repeat="question in questions" ng-class="{green: $index===parentIndex && isCorrect, red: $index===parentIndex && !isCorrect}">

      <h3>{{ question.question }}</h3>
      <div ng-class="{green: question.difficulty===1, yellow: question.difficulty===2, red: question.difficulty===3}">{{ question.difficultyLabel }}</div>
      <div class="gear" ng-click="$parent.modalShow=true; $parent.editShow=true; $parent.newShow=false; $parent.newQ=question;">
        <img src="styles/assets/gear.svg" ng-click="modalShow=true">
      </div>
      <ul>
        <li ng-repeat="option in question.options">
            <p class="option" ng-click="checkAnswer($index+1, question.correct_answer, $parent.$index)" ng-class="{choosen: choosen===$index+1 && $parent.$index===parentIndex}">{{ option }}</p>
        </li>
      </ul>

      </div>
      <div>
      <h3 class="change-page left" ng-show="previousShow" ng-click="page=page-1; getQuestions(difficulty, animalSearch, page)">&lt; Prev Page</h3>
      <h3 class="change-page right" ng-show="nextShow" ng-click="page=page+1; getQuestions(difficulty, animalSearch, page)">Next Page &gt;</h3>

      </div>
  </article>

  <div class="modal" ng-show="modalShow">
     <form>
       <h4 class="close" ng-click="modalShow=false; newQ=null;">X</h4>
       <span>Question</span><input type="text" ng-model="newQ.question">
       <span>Animal it's about</span><input type="text" ng-model="newQ.animal">
       <span>Difficulty</span>
       <div class="range">
         <input type="range" min="1" max="3" ng-model="newQ.difficulty">

         <h5>{{newQ.difficulty}}</h5>
       </div>
       <h4>Options</h4>
       <div>
         <input type="radio" ng-checked="newQ.correct_answer==1" ng-model="newQ.correct_answer" value="1">
         <input type="text" ng-model="newQ.options[1]">
       </div>
       <div>
         <input type="radio" ng-checked="newQ.correct_answer==2" ng-model="newQ.correct_answer" value="2">
         <input type="text" ng-model="newQ.options[2]">
       </div>
       <div>
         <input type="radio" ng-checked="newQ.correct_answer==3" ng-model="newQ.correct_answer" value="3">
         <input type="text" ng-model="newQ.options[3]">
       </div>
       <div>
         <input type="radio" ng-checked="newQ.correct_answer==4" ng-model="newQ.correct_answer" value="4">
       <input type="text" ng-model="newQ.options[4]">
       </div>

       <!--Add question buttons-->
       <div class="buttons" ng-show="newShow">
         <button class="green" ng-click="newQuestion(newQ)">Save Question</button>
         <button ng-click="modalShow=false; newQ=null;">Cancel</button>
       </div>

       <!--Edit & Delete question buttons-->
       <div class="buttons" ng-show="editShow">
         <button class="red" ng-click="deleteQuestion(newQ._id)">Delete Question</button>
         <button class="green" ng-click="editQuestion(newQ)">Save Changes</button>
         <button ng-click="modalShow=false; newQ=null;">Cancel</button>
       </div>

     </form>
   </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>
  <script src="scripts/app.js" charset="utf-8"></script>
  <script type="text/javascript" src="scripts/services.js"></script>
</body>

</html>